/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: #ddffcc;
  padding-top: 3rem;
  color: #006600
}


h1{
  font-family: 'Itim', cursive;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
h2{
  font-family: 'Itim', cursive;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

p {
  font-family: 'Itim', cursive;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.container{
  padding: 2rem;

}

#map {
  height: 400px;
  width: 100%;
 }
